*{
   margin: 10px;
   text-align: center;
   background-color: coral;
}

h1{ 
   font-weight: bolder;
   font-size: 30pt;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-style: italic;
   color: black ;
}

p{
   font-weight: bolder;
   font-size: 20pt;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: lighter;
   color: blanchedalmond;
}


.gif1{
   
   margin: auto;
   padding: 30px;
   width: 300px;
   height: 200px;
   background-color: navy;
   transition-duration:2000ms;
   transition-property: background-color, transform;

}

.gif1:hover{
   
   background-color:rgb(230, 21, 21) ;
   transform: rotate(360deg) ;

}

.gif2{
   margin: auto;
   padding: 30px;
   width: 300px;
   height: 200px;
   background-color: rgba(252, 220, 39, 0.856);
   transition-duration:1000ms;
   transition-property: background-color, transform;
  
}


.gif2:hover{
   
   background-color:rgb(230, 21, 21) ;
   transform: rotate(360deg) ;

}

.gif3{
   
   clear: both;
   margin: auto;
   padding: 30px;
   width: 300px;
   height: 200px;
   background-color: rgba(252, 220, 39, 0.856);
   transition-duration:1000ms;
   transition-property: background-color, transform;
  
}

.gif3:hover{
   
   background-color:rgb(230, 21, 21) ;
   transform: rotate(360deg) ;

}

.gif4{
   
   clear: both;
   margin: auto;
   padding: 30px;
   width: 300px;
   height: 200px;
   background-color: rgba(252, 220, 39, 0.856);
   transition-duration:1000ms;
   transition-property: background-color, transform;
  
}

.gif4:hover{
   
   background-color:rgb(230, 21, 21) ;
   transform: rotate(360deg) ;

}

