*{
			background-color: sandybrown;
			margin: .5em;
			text-align: center;
		}
		h1{
			font-style: oblique;
			font-size: 40pt;
			font-family: Times, 'Times New Roman', serif;

		}
		.image{
			
			height: 400px;
			width: 400px;
			transition: all .5s ease-in-out;

		}

		.image:hover{

			border-radius: 0;
			cursor: pointer;

		}

		p{

			font-size: 15pt;

		}