body {
    text-align: center;
    font-size: 15pt;
    background-color: azure;
}

body.ending{
background-color: red;
}

body.breakfast{
	background-color: sandybrown;
	margin: .5em;
    text-align: center;
}
		
h1.breakfast{
	font-style: oblique;
    font-size: 40pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img{	
    max-height: 80%;
     max-width: 80%;
}
img.breakfast{
	border-radius: 50%;
	transition: all .5s ease-in-out;
}
img.breakfast:hover{
	border-radius: 0;
    cursor: pointer;
}
